<div class="container mt-5">
    <h2>Employee List</h2>
    <div class="form-group col-md-4">
        <input type="text" class="form-control" placeholder="Enter Keyword for filter result" [(ngModel)]="search">
    </div>


    <table class="table">
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees | filter:search">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
                <td><button class="btn-success" [routerLink]="['employee/edit',employee.id]">Edit</button></td>
                <td><button class="btn-danger" (click)="onDelete(employee.id)">delete</button></td>
            </tr>
        </tbody>
    </table>
</div>